body{
    background-color: bisque;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}
header nav {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    left:0;
    background-color: grey;
    color: white;
    padding: 0;
    margin: 0;
}
nav ul{
    display: flex;
    align-items: center;
    margin:0;
    padding: 10px 5%;
    gap: 60px;
}
nav li {
    list-style: none;
    margin:0 50px;
}
nav li:first-child {
    margin-right: auto; 
}
img {   
    width: 100px ;
    height: auto;
}   
nav a{
    color: white;
}
main{
    margin-top: 100px;
}
section{
    padding:75px;
}
footer{
    text-align: center;
    border-bottom: dotted 2px black;
}