nav {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

li {
    display:flex;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
    background-color: black;
    color: white;
}

ol {
    margin: 0;
    list-style: none;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}